<script context="module" lang="ts">
	import '$lib/global.css';
	import Header from './Header.svelte';
	export const meta = {
		title: 'UI/Header',
		component: Header,
		argTypes: {
		}
	};
</script>

<script>
	import { Story, Template } from '@storybook/addon-svelte-csf';
</script>

<Template let:args>
	<Header {...args}></Header>
</Template>

<Story name="Default" />
