<script lang="ts">
	import IconButton from '$lib/components/Interactive/IconButton/IconButton.svelte';
	import Logo from '../Logo/Logo.svelte';
</script>

<header
	class="navbar bg-base-100 dark:bg-gray-dark sm:border-b sm:border-gray-lines-light dark:sm:border-gray-lines-dark"
>
	<div class="flex-1">
		<Logo />
	</div>

	<div class="flex-none">
		<div class="dropdown dropdown-end">
			<IconButton textAlternative="User Menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="lucide lucide-user w-6 h-6"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" /><circle
						cx="12"
						cy="7"
						r="4"
					/></svg
				>
			</IconButton>
			<ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
				<li>
					<a class="justify-between" href="#user"> Profile </a>
				</li>

				<li>
					<a class="justify-between" href="#user-logout"> Logout </a>
				</li>
			</ul>
		</div>
	</div>
</header>
