<script>
	import Header from '../Header/Header.svelte';
	import Sidebar from '../Sidebar/Sidebar.svelte';
</script>

<div class="header">
	<Header />
</div>
<div class="drawer">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<!-- Page content here -->
		<label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
	</div>
	<div class="drawer-side">
		<label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<Sidebar />
	</div>
</div>
