<script lang="ts">
	import {
		SvelteGantt,
		SvelteGanttTable,
		MomentSvelteGanttDateAdapter,
		SvelteGanttDependencies
	} from 'svelte-gantt/svelte';
	import moment from 'moment';
	function time(input: string) {
		return moment(input, 'HH:mm');
	}
	let currentStart = time('06:00');
	let currentEnd = time('18:00');

	const colors = ['blue', 'green', 'orange'];

	const timeRanges = [
		{
			id: 0,
			from: time('10:00'),
			to: time('12:00'),
			classes: null,
			label: 'Lunch'
		},
		{
			id: 1,
			from: time('15:00'),
			to: time('17:00'),
			classes: null,
			label: 'Dinner'
		}
	];

	export const data = {
		rows: [
			{
				id: 10,
				label: 'Accounting',
				class: 'row-group',
				iconClass: 'fas fa-calculator',
				childrenXXX: [
					{
						id: 11,
						label: 'Petunia Mulliner'
					},
					{
						id: 12,
						label: 'Mélina Giacovetti'
					},
					{
						id: 13,
						label: 'Marlène Lasslett'
					},
					{
						id: 14,
						label: 'Adda Youell'
					}
				]
			},
			{
				id: 20,
				label: 'Business Development',
				class: 'row-group',
				iconClass: 'fas fa-user-tie',
				childrenXXX: [
					{
						id: 21,
						label: 'Pietra Fallow'
					},
					{
						id: 22,
						label: 'Mariellen Torbard'
					},
					{
						id: 23,
						label: 'Renate Humbee'
					}
				]
			},
			{
				id: 3,
				label: 'Ida Flewan'
			},
			{
				id: 4,
				label: 'Lauréna Shrigley'
			},
			{
				id: 5,
				label: 'Ange Kembry'
			}
		],
		tasks: [
			{
				id: 1,
				resourceId: 11,
				label: 'LPCVD',
				from: time('9:00'),
				to: time('11:00'),
				classes: 'bg-warning'
			},
			{
				id: 2,
				resourceId: 12,
				label: 'Entrepreneurship',
				from: time('10:00'),
				to: time('12:30'),
				classes: 'bg-warning'
			},
			{
				id: 3,
				resourceId: 13,
				label: 'PET-CT',
				from: time('13:30'),
				to: time('15:00'),
				classes: 'bg-warning'
			},
			{
				id: 4,
				resourceId: 14,
				label: 'Auditing',
				from: time('9:30'),
				to: time('11:30'),
				classes: 'bg-warning'
			},
			{
				id: 5,
				resourceId: 21,
				label: 'Security Clearance',
				from: time('15:15'),
				to: time('16:00'),
				classes: 'bg-success'
			},
			{
				id: 6,
				resourceId: 22,
				label: 'Policy Analysis',
				from: time('14:00'),
				to: time('17:00'),
				classes: 'bg-info'
			},
			{
				id: 7,
				resourceId: 23,
				label: 'Xbox 360',
				from: time('13:30'),
				to: time('14:30'),
				classes: 'bg-info'
			},
			{
				id: 8,
				resourceId: 3,
				label: 'GNU/Linux',
				from: time('14:00'),
				to: time('15:30'),
				classes: 'bg-info'
			},
			{
				id: 9,
				resourceId: 4,
				label: 'Electronic Trading',
				from: time('15:00'),
				to: time('17:00'),
				classes: 'bg-primary'
			},
			{
				id: 10,
				resourceId: 5,
				label: 'Alternative Medicine',
				from: time('14:30'),
				to: time('15:30'),
				classes: 'bg-warning'
			}
		],
		dependencies: []
	};

	let options = {
		dateAdapter: new MomentSvelteGanttDateAdapter(moment),
		rows: data.rows,
		tasks: data.tasks,
		dependencies: data.dependencies,
		timeRanges,
		columnOffset: 15,
		magnetOffset: 15,
		rowHeight: 52,
		rowPadding: 6,
		headers: [
			{ unit: 'day', format: 'MMMM Do' },
			{ unit: 'hour', format: 'H:mm' }
		],
		fitWidth: true,
		minWidth: 800,
		from: currentStart,
		to: currentEnd,
		tableHeaders: [{ title: 'Label', property: 'label', width: 140, type: 'tree' }],
		tableWidth: 240,
		ganttTableModules: [SvelteGanttTable],
		ganttBodyModules: [SvelteGanttDependencies],
		layout: 'expand',
		enableCreateTask: true
	};

	const options2 = {
		tableHeaders: { title: 'Title', property: 'label', type: 'tree' },
		timeRanges: [
			{
				id: 2,
				from: new Date('2024-02-01T08:00:00').valueOf(),
				to: new Date('2024-02-01T09:00:00').valueOf(),
				label: 'Breakfast'
			},
			{
				id: 1,
				from: new Date('2024-02-01T10:00:00').valueOf(),
				to: new Date('2024-02-01T11:00:00').valueOf(),
				classes: 'time-range-lunch',
				label: 'Lunch',
				resizable: false
			},
			{
				id: 3,
				from: new Date('2024-02-01T11:00:00').valueOf(),
				to: new Date('2024-02-01T12:00:00').valueOf(),
				label: 'Custom class',
				classes: 'gradient'
			}
		],
		rows: [
			{
				id: 1,
				label: 'Parent 1',
				expanded: false,
				children: [
					{ id: 11, label: 'Child 1' },
					{ id: 12, label: 'Child 2' }
				]
			},
			{
				id: 2,
				label: 'Parent 2',
				expanded: true,
				children: [
					{ id: 21, label: 'Child 1', children: [{ id: 211, label: 'Grandchild 1' }] },
					{ id: 22, label: 'Child 2' },
					{ id: 23, label: 'Child 3' }
				]
			},
			{
				id: 3,
				label: 'No children'
			}
		],
		tasks: [],
		from: moment('2024-02-01T08:00:00'),
		to: moment('2024-02-01T12:00:00'),
		fitWidth: true
	};
</script>

<div class="container">
	Gantt
	<SvelteGantt {...options}></SvelteGantt>
</div>
