<script context="module" lang="ts">
	import '$lib/global.css';
	import Gantt from './Gantt.svelte';
	export const meta = {
		title: 'Interactive/Gantt',
		component: Gantt,
		argTypes: {
		}
	};
</script>

<script>
	import { Story, Template } from '@storybook/addon-svelte-csf';
</script>

<Template let:args>
	<Gantt {...args}></Gantt>
</Template>

<Story name="Default" />
