<script>
  import { eventBus } from "../lib/eventBus";
  import Modal from "../components/Interactive/Modal/Modal.svelte";
  import EditBoardCard from "../components/UI/EditBoardCard/EditBoardCard.svelte";

  import { currentState } from "../stores/appState";
  import Card from "../components/UI/Card/Card.svelte";
  import WelcomeMessage from "../components/UI/WelcomMessage/WelcomeMessage.svelte";
  
  function generateId() {
    // TODO - use a better generator function
    return Math.random().toString(36).slice(2);
  }

</script>

<Modal
  open={$currentState == "initApp"}
  on:requestClose={() => eventBus.dispatch("initAppModalCancel")}
  aria={{ labelledby: "edit-board-card-header" }}
>
  <div class="w-screen max-w-[30rem] mx-auto p-4 box-content">
    <WelcomeMessage/>
  </div>
</Modal>
