<script>
  import { eventBus } from "../lib/eventBus";
  import Modal from "../components/Interactive/Modal/Modal.svelte";
  import { currentState } from "../stores/appState";
  import Login from "../components/UI/Login/Login.svelte";
</script>

<Modal
  open={$currentState == "loading"}
  on:requestClose={() => eventBus.dispatch("loginCancel")}
  aria={{ labelledby: "login-header" }}
>
  <div class="w-screen max-w-[30rem] mx-auto p-4 box-content">
    <button type="button" class="btn-primary ..." disabled>
      <div
        class="flex space-x-2 justify-center items-center h-screen dark:invert"
      >
        <span class="sr-only">Loading...</span>
        <div
          class="h-4 w-4 bg-main-purple-normal rounded-full animate-bounce [animation-delay:-0.3s]"
        ></div>
        <div
          class="h-4 w-4 bg-main-purple-normal rounded-full animate-bounce [animation-delay:-0.15s]"
        ></div>
        <div
          class="h-4 w-4 bg-main-purple-normal rounded-full animate-bounce"
        ></div>
      </div>
    </button>
  </div>
</Modal>
