<script>
  import { eventBus } from "../lib/eventBus";
  import Modal from "../components/Interactive/Modal/Modal.svelte";
  import { currentState } from "../stores/appState";
  import Login from "../components/UI/Login/Login.svelte";
</script>

<Modal
  open={$currentState == "login"}
  on:requestClose={() => eventBus.dispatch("loginCancel")}
  aria={{ labelledby: "login-header" }}
>
  <div class="w-screen max-w-[30rem] mx-auto p-4 box-content">
    <Login
    title="Login"
    submitButtonText="Submit"
    on:submitLogin={(e) => {
      eventBus.dispatch("loginSubmit", e.detail);
    }}
    />
  </div>
</Modal>
