<script lang="ts">
  import Modal from "../components/Interactive/Modal/Modal.svelte";
  import { currentState } from "../stores/appState";
  import { eventBus } from "../lib/eventBus";
  import SelectProject from "../components/UI/SelectProject/SelectProject.svelte";
  import {projects} from "../stores/project"
  import {currentlyViewedProject} from "../stores/appState";

</script>

<Modal
  open={$currentState == "selectProject"}
  on:requestClose={() => eventBus.dispatch("selectProjectClose")}
  aria={{ labelledby: "view-project-list-header" }}
>
  <div class="w-screen max-w-[30rem] mx-auto p-4 box-content">
    <SelectProject
      cardTitle="Select Project"
      submitButtonText="Select"
      projects={$projects}
      projectId={$currentlyViewedProject?.id}
      on:projectSelected={(e) => {
        eventBus.dispatch("projectSelected", e.detail);
      }}
    />
  </div>
</Modal>
