<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import Card from "../Card/Card.svelte";
  import Button from "../../Interactive/Button/Button.svelte";
  import InputList from "../../Interactive/InputList/InputList.svelte";
  import TextInput from "../../Interactive/TextInput/TextInput.svelte";
  import Heading from "../../Typography/Heading/Heading.svelte";

  import type { InputListAction, InputListItem } from "../../Interactive/InputList/InputList.svelte";
  import EntitySelect from "../../../components/Interactive/EntitySelect/EntitySelect.svelte";
  import type { Entity } from "../../../lib/drupal";

  export let title: string = "Add New Board";
  export let submitButtonText: string = "Create New Board";
  export let name = "";
  export let columns: InputListItem[] = [];
  export let boardType: string = "kanban";
  export let boardColumnType: string = "pm_epic";

  let boardTypes: Entity[] = [
    {id: "kanban", title: "Kanban Board"},
    {id: "scrum", title: "Scrum Board"},
  ];
  let boardColumnTypes: Entity[] = [
    {id: "pm_epic", title: "Epic"},
    {id: "pm_feature", title: "Feature"},
    {id: "pm_story", title: "Story"},
    {id: "pm_task", title: "Task"},
  ];
  
  let columnActions: InputListAction[] = [];

  const dispatch = createEventDispatcher();

  function handleCreateBoard(e) {
    e.preventDefault();
    if (!formIsValid()) return;
    dispatch("submitBoard", { name, columns, columnActions, boardType, boardColumnType });
  }

  function formIsValid() {
    // Board name must exist
    if (name.length === 0) return false;

    const seenColumns = new Set();
    for (const col of columns) {
      // No empty column names
      // if (col.length === 0) return false;

      // No duplicate column names allowed
      // if (seenColumns.has(col)) return false;
      seenColumns.add(col);
    }

    return true;
  }
</script>

<Card borderRadius={6} paddingStyle="Modal">
  <form on:submit={handleCreateBoard}>
    <Heading id="edit-board-card-header" element="h2" classes="text-black dark:text-white">{title}</Heading>
    <TextInput
      bind:value={name}
      label="Board Name"
      required={true}
      classes="my-6"
    />

    <EntitySelect
      options={boardTypes}
      label="Board Type"
      classes="mt-6"
      bind:value={boardType}
    />
    <EntitySelect
      options={boardColumnTypes}
      label="Board Column Type"
      classes="mt-6"
      bind:value={boardColumnType}
    />
    <InputList
      label="Board Columns"
      buttonText="Add New Column"
      itemName="column"
      bind:items={columns}
      on:actionUpdate={(e) => (columnActions = e.detail)}
    />
    <Button style="PrimaryS" classes="w-full mt-6" on:click={handleCreateBoard}
      >{submitButtonText}</Button
    >
  </form>
</Card>
