<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import Card from "../Card/Card.svelte";
  import Button from "../../Interactive/Button/Button.svelte";
  import Heading from "../../Typography/Heading/Heading.svelte";
  import type { Project } from "../../../lib/board/project";
  import EntitySelect from "../../../components/Interactive/EntitySelect/EntitySelect.svelte";

  export let cardTitle: string = "Add New Task";
  export let submitButtonText: string = "Create Task";
  export let projects: Project[];
  export let projectId;

  const dispatch = createEventDispatcher();

  function handleSubmit(e) {
    e.preventDefault();
    if (!formIsValid()) return;
    const project = projects.find((obj) => {
      return obj.id == projectId;
    });
    dispatch("projectSelected", project);
  }

  function formIsValid() {
    return true;
  }
</script>

<Card borderRadius={6} paddingStyle="Modal">
  <form on:submit={handleSubmit}>
    <div>
      <Heading
        id="view-project-list-header"
        element="h2"
        style="L"
        classes="text-black dark:text-white grow"
      >
        {cardTitle}
      </Heading>
    </div>

    <EntitySelect
      options={projects}
      label="Project"
      classes="mt-6"
      bind:value={projectId}
    />
    <Button style="PrimaryS" classes="w-full mt-6" on:click={handleSubmit}
      >{submitButtonText}</Button
    >
  </form>
</Card>
