<script lang="ts">
  import { Palette } from "@untemps/svelte-palette";
  import { indicatorPallet, indicatorPalletMap } from "../../../lib/colors";
  
  import { createEventDispatcher } from "svelte";
  import { debug } from "svelte/internal";
  export let startColor = 'gray';
  const colors = Array.from(indicatorPalletMap).map(([key, value]) => ({name: key, color: value}));
  const dispatch = createEventDispatcher();
  let bgColor = startColor;
</script>


<main class="card rounded-sm bg-white dark:bg-gray-dark py-5.75 px-4 ">


  <div class="grid gap-4 col-auto">
    {#each colors as item, n (item)}
      <button class="color rounded p-3" style="--color: {item.color}" aria-label="{item.name}"
        on:click={(e) => dispatch("colorChange", item.name)}
      />
    {/each}
  </div>

</main>

<style>
	.color {
		background: var(--color);
		border-radius: 7px;
		border: inset 1px #fff2;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 3px 3px 10px #fff4;
	}
</style>