<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
	<!-- Sidebar content here -->
	<li><a href="#sidebar-1">Sidebar Item 1</a></li>
	<li><a href="#sidebar-2">Sidebar Item 2</a></li>
</ul>
