<script context="module" lang="ts">
	const variants = {
		Primary: 'btn btn-secondary',
		Secondary: 'btn btn-neutral',
		Teritiary: 'btn btn-neutral btn-outline',
		Danger: 'btn btn-warning btn-md btn-xs sm:btn-xs md:btn-sm lg:btn-md',
		Ghost: 'btn btn-ghost'
	};
	const sizes = {
		S: 'btn-sm sm:btn-xs md:btn-xs lg:btn-sm',
		M: 'btn-md sm:btn-xs md:btn-md lg:btn-md',
		L: 'btn-lg sm:btn-xs md:btn-md lg:btn-lg'
	};
</script>

<script lang="ts">
	export let variant: 'Primary' | 'Secondary' | 'Teritiary' | 'Danger' | 'Ghost' = 'Primary';
	export let isNarrow: boolean = false;
	export let size: 'S' | 'M' | 'L' = 'M';
	export let type: 'button' | 'submit' | 'reset' | '' = '';
	export let classes: string = '';
	export let disabled: boolean = false;

	$: classList = variants[variant] + ' ' + sizes[size] + (isNarrow ? ' ' : ' btn-wide');
	$: if (classes) classList += ' ' + classes;
</script>

<button
	on:click
	on:keypress
	tabindex="0"
	type={type || null}
	disabled={disabled || null}
	class={classList}
	><slot />
</button>
