<script context="module" lang="ts">
	import '$lib/global.css';
	import Button from './Button.svelte';

	let variant: 'Primary' | 'Secondary' | 'Teritiary' | 'Danger' | 'Ghost' = 'Primary';
	let size: 'S' | 'M' | 'L' = 'M';
	let type: 'button' | 'submit' | 'reset' | '' = '';
	let classes: string = '';
	let disabled: boolean = false;
	let isNarrow: boolean = false;

	export const meta = {
		title: 'Interactive/Button',
		component: Button,
		argTypes: {
			variant: {
				control: { type: 'select' },
				options: ['Primary', 'Secondary', 'Teritiary', 'Danger', 'Ghost']
			},
			size: {
				control: { type: 'select' },
				options: ['S', 'M', 'L']
			},
			type: {
				control: { type: 'select' },
				options: ['button', 'submit', 'reset']
			},
			disabled: {
				control: 'boolean'
			},
			isNarrow: {
				control: 'boolean'
			},
			classes: {
				control: 'text'
			},
		}
	};
</script>

<script>
	import { Story, Template } from '@storybook/addon-svelte-csf';

	let count = 0;
	function handleClick() {
		count += 1;
	}
</script>

<Template let:args>
	<!--👇 'on:click' allows to forward event to addon-actions  -->
	<Button {...args} on:click on:click={handleClick}>
		You clicked: {count}
	</Button>
</Template>

<Story name="Default" />
