<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import Card from "../Card/Card.svelte";
  import Button from "../../Interactive/Button/Button.svelte";
  import TextInput from "../../Interactive/TextInput/TextInput.svelte";
  import Heading from "../../Typography/Heading/Heading.svelte";
  import PasswordTextInput from "../../../components/Interactive/PasswordTextInput/PasswordTextInput.svelte";

  export let title: string = "Login";
  export let submitButtonText: string = "Submit";
  export let name = "";
  export let password = "";
  
  
  const dispatch = createEventDispatcher();

  function handleCreateBoard(e) {
    e.preventDefault();
    if (!formIsValid()) return;
    dispatch("submitLogin", { name, password});
  }

  function formIsValid() {
    if (name.length === 0) return false;
    if (password.length === 0) return false;
    return true;
  }
</script>

<Card borderRadius={6} paddingStyle="Modal">
  <form on:submit={handleCreateBoard}>
    <Heading id="edit-board-card-header" element="h2" classes="text-black dark:text-white">{title}</Heading>
    <TextInput
      bind:value={name}
      label="Username"
      required={true}
      classes="my-6"
    />
    <PasswordTextInput
      bind:value={password}
      label="Password"
      required={true}
      classes="my-6"
    />
    <Button style="PrimaryS" classes="w-full mt-6" on:click={handleCreateBoard}
      >{submitButtonText}</Button
    >
  </form>
</Card>
