<script lang="ts">
  export let Hst
  import Card from "./Card.svelte";
  import Heading from "../../../components/Typography/Heading/Heading.svelte";
  import Text from "../../../components/Typography/Text/Text.svelte";
  
  let title: string = 'Title';
  let subtaskTotal: number = 0;
  let subtasksCompleted: number = 0;
</script>

<Hst.Story
  title="Cars"
  icon="carbon:car"
  iconColor="gray"
>
  <Hst.Variant title="default">
    
<Card
borderRadius={8}
shadow={true}
classes="relative text-black dark:text-white hover:text-main-purple-normal focus-within:text-main-purple-normal dark:hover:text-main-purple-normal dark:focus-within:text-main-purple-normal"
>
<Heading element={"h4"} style="M">{title}</Heading>
<Text style="M" classes="mt-2 text-gray-medium">
  {#if subtaskTotal > 0}
    {subtasksCompleted} of {subtaskTotal} complete
  {:else}
    No items
  {/if}
</Text>
<div
  role="button"
  tabindex="0"
  class="cursor-pointer block w-full absolute inset-0 rounded-lg outline-2 focus-visible:outline outline-offset-4 focus-visible:outline-main-purple-hover motion-safe:transition-colors motion-safe:ease-in-out"
>
  <span class="sr-only">View Task</span>
</div>
</Card>

  </Hst.Variant>
</Hst.Story>
