<script context="module" lang="ts">
	import '$lib/global.css';
	import IconButton from './IconButton.svelte';

	let textAlternative: string = '';
	let disabled: boolean = false;

	export const meta = {
		title: 'Interactive/IconButton',
		component: IconButton,
		argTypes: {
			disabled: {
				control: 'boolean'
			},
			textAlternative: {
				control: 'text'
			},
		}
	};
</script>

<script>
	import { Story, Template } from '@storybook/addon-svelte-csf';

	let count = 0;
	function handleClick() {
		count += 1;
	}
</script>

<Template let:args>
	<!--👇 'on:click' allows to forward event to addon-actions  -->
	<IconButton {...args} on:click on:click={handleClick}>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="lucide lucide-trash-2"
			><path d="M3 6h18" /><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" /><path
				d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"
			/><line x1="10" x2="10" y1="11" y2="17" /><line x1="14" x2="14" y1="11" y2="17" /></svg
		>
	</IconButton>
</Template>

<Story name="Default" />
