<script lang="ts">
	export let textAlternative: string;
	export let disabled: boolean = false;
</script>

<button
	on:click
	disabled={disabled || null}
	class="btn btn-circle border p-2"
	aria-label={textAlternative}
>
	<slot />
</button>
