<script lang="ts">
  import { createEventDispatcher, tick } from "svelte";  
  import Card from "../Card/Card.svelte";
  import Heading from "../../Typography/Heading/Heading.svelte";
  import Select from "../../Interactive/Select/Select.svelte";
  import Menu from "../../Interactive/Menu/Menu.svelte";
  import Text from "../../Typography/Text/Text.svelte";
  import SubtaskCheckbox from "../../Interactive/SubtaskCheckbox/SubtaskCheckbox.svelte";

</script>

<Card borderRadius={6} paddingStyle="Modal">
  <div class="flex items-center">
    <Heading id="view-task-card-header" element="h2" style="L" classes="text-black dark:text-white grow"
      >Welcome</Heading
    >
  </div>
  <Text style="L" classes="mt-6 text-black dark:text-white">
    Thank you for trying out this app.

    <b>Please note that this module is not production ready.</b> 
  </Text>
  <Text style="L" classes="mt-6 text-black dark:text-white">
    
    The current goal of this module is to explore and get feedback on integrating a decoupled application with 
    <a href="https://www.drupal.org/project/pm"><b>Drupal PM</b></a>.
    
    The feedback would be used to improve the REST API support and entity architecture in Drupal PM project.
  </Text>
  <br>
  <Heading element="h3" style="S" classes="text-black dark:text-white">NOTE</Heading>
  <Text style="L" classes="mt-6 text-black dark:text-white">
     For now, you would have to create at least one project in Drupal to use this App. The permission check has not been implemented. So testing with users other than an "admin" might not work.
  </Text>
</Card>
